.meals {
  width: 90%;
  max-width: 90rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-gap: 5rem;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
}

.meals li {
  height: 100%;
}

.empty {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  text-align: center;
  color: #ddd6cb;
  font-size: 1.25rem;
}
